body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
header {
    display: flex;
    height: 70px;
    background-color:azure ;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.logo{
    margin-right:  10px;
}

